<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="/assets/styles/mainapp.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="http://blog.miniasp.com/favicon.ico" type="image/x-icon">

  <meta name="description" content="THE GREEN PRETATOR-RPGGAME">
  <meta name="author" content="TCUST">

  <title></title>

</head>
<body>
    <!-- Header START -->
    <header class="header">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
              <li><a href="http://localhost:4200/">front page.</a></li>
              <li><a href="http://blog.miniasp.com/archive.aspx">Changelog.</a></li>
              <li><a href="http://blog.miniasp.com/contact.aspx">write to the author.</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="http://blog.miniasp.com/Account/login.aspx">Login.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="title-wrapper">
        <div class="container">

          <img src="/assets/images/logo.png" class="pull-left logo" alt="The Will Will Web">

          <div class="pull-left">
            <h1><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">RPG Game.</a></h1>
            <h3>The production process of an RPG from zero to something.</h3>
          </div>


        </div>
      </div>
    </header>
    <!-- Header END -->
    <!-- CONTAINER START-->
    <section class="container">
      <div class="row">
        <section class="col-md-8 content-wrapper">
          <div id="ctl00_cphBody_divError"></div>
          <div id="ctl00_cphBody_PostList1_posts" class="posts">

            <!-- Article START-->
            <article class="post" id="post0">
              <header class="post-header">
                <h2 class="post-title">
                    <a routerLink="P1">Introducing the monster.</a>
                </h2>
                <div class="post-info clearfix">
                  <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>2022/6/15</span>
                  <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="http://blog.miniasp.com/author/will.aspx">Wei.</a></span>
                  <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a href="http://blog.miniasp.com/category/Visual-Studio.aspx">Main body of the game.</a></span>
                </div>
              </header>
              <section class="post-body text">
                <p>You can view all the monster characters that appear in the game on this page. Monsters are one of the indispensable elements in an RPG game. All the characters are drawn by us.</p>
                <h1>Introducing the monster.</h1>
              <img src="/assets/images/0b44d2d3d7f4795c.png">
                 <h2>garbage monster.</h2>









    <!-- FOOTER START -->
    <footer class="footer">
      <div class="container">
        <div class="widgets-footer clearfix">
          <div id="widgetzone_Footer_Widget" class="widgetzone">

            <!-- RecentComments START-->

            <!-- RecentComments END-->

            <!-- Blogroll START -->

            <!-- Blogroll END -->

            <!-- Newsletter START -->

            <!-- Newsletter END -->

          </div>
        </div>
      </div>
      <div class="end-line text-center">
        <p class="text-muted credit">
			Copyright © 2016 by <a href="https://www.facebook.com/will.fans" target="_blank">瑋哥出品</a>
			@ <a href="http://www.miniasp.com/" target="_blank">倒閉有限公司</a>
		</p>
      </div>
    </footer>
    <!-- Footer END -->
